
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.content{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100vh;
}

.logo span{
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-family: serif;
    font-weight: 800;
    margin-left: 15px;
}

.page_select {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul{
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

li{
    display: inline;
    margin-right: 20px;
    color: rgb(145, 145, 145);
}


.container{
    position: absolute;
    height: 70%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.main_img { grid-area: 1 / 1 / 2 / 3; }
.main_text { grid-area: 2 / 1 / 3 / 2; }
.paragraph { grid-area: 2 / 2 / 3 / 3; }
.retro_paragraph { grid-area: 3 / 1 / 4 / 2; }
.laptop_paragraph { grid-area: 3 / 2 / 4 / 3; }
.gaming_paragraph { grid-area: 3 / 3 / 4 / 4; }
.news { grid-area: 1 / 3 / 3 / 4; }

.main_img img{
    width: 100%;
}

.main_text{
    font-size: 46px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    margin-left: 15px;
}

.paragraph{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(145, 145, 145);
    width: 100%;
    height: 100%;
}

.paragraph_button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.paragraph_button button{
    margin-top: 70px;
    width: 175px;
    height: 50px;
    background-color: rgb(255, 115, 50);
    border: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    transition: background-color 0.3s;
}

.paragraph_button button:hover{
    background-color: rgb(0, 0, 37);
}

.retro_paragraph{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.retro_paragraph_text{
    margin-left: 15px;
    align-items: center;
}

.retro_paragraph img{
    height: 125px;
    width: 100px;
}

.retro_paragraph_text h2{
    font-size: 40px;
    color: rgb(145, 145, 145);
    font-family: sans-serif;
    font-weight: 600;
}

.retro_paragraph_text h3{
    font-size: 20px;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: 800;
    cursor: pointer;
    transition: color 0.3s;
}

.retro_paragraph_text span{
    font-size: 15px;
    color: rgb(145, 145, 145);
    font-family: sans-serif;
    font-weight: 600;
}

.laptop_paragraph{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.laptop_paragraph_text{
    margin-left: 15px;
    align-items: center;
}

.laptop_paragraph img{
    height: 125px;
    width: 100px;
}

.laptop_paragraph_text h2{
    font-size: 40px;
    color: rgb(145, 145, 145);
    font-family: sans-serif;
    font-weight: 600;
}

.laptop_paragraph_text h3{
    font-size: 20px;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: 800;
    cursor: pointer;
    transition: color 0.3s;
}

.laptop_paragraph_text span{
    font-size: 15px;
    color: rgb(145, 145, 145);
    font-family: sans-serif;
    font-weight: 600;
}

.gaming_paragraph{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.gaming_paragraph_text{
    margin-left: 15px;
    align-items: center;
}

.gaming_paragraph img{
    height: 125px;
    width: 100px;
}

.gaming_paragraph_text h2{
    font-size: 40px;
    color: rgb(145, 145, 145);
    font-family: sans-serif;
    font-weight: 600;
}

.gaming_paragraph_text h3{
    font-size: 20px;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: 800;
    cursor: pointer;
    transition: color 0.3s;
}

.gaming_paragraph_text span{
    font-size: 15px;
    color: rgb(145, 145, 145);
    font-family: sans-serif;
    font-weight: 600;
}

.gaming_paragraph_text h3:hover{
    color: rgb(255, 115, 50);
}

.laptop_paragraph_text h3:hover{
    color: rgb(255, 115, 50);
}

.retro_paragraph_text h3:hover{
    color: rgb(255, 115, 50);
}

.news{
    background-color: rgb(0, 0, 37);
    padding: 15px;
    padding-top: 30px;
}

.news h2{
    font-size: 40px;
    color: rgb(255, 180, 118);
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 35px;
}

.news h3{
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: default;
    transition: color 0.3s;
}

.news h3:hover{
    color: rgb(255, 180, 118);
}

.news span{
    font-size: 20px;
    color: rgb(168, 168, 168);
    font-family: sans-serif;
    font-weight: 400;
}

.space {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px; 
    height: 2px;
    background-color: white;
}